footer{
    position: absolute;
    bottom: 0%;
    background-color: #111A3D;
    width: 100%;
    
}

.divfoot {
    color: white;
    font-size: 15px;
    font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

